In [1]:
import os
import pandas as pd
import numpy as np
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="../esoteric-bruin-379522-1ac227ab6db1.json" # lokalizacja pobranego klucza z punktu 1.4.
client = bigquery.Client()

pd.set_option('display.max_columns', None)

## Ćwiczenie 1

Połącz ze sobą wszystkie dane otrzymane w części 4 z zadania 1. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [2]:
df41 = pd.read_csv("../zad1/kraje.csv")
df41

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km
0,Spain,ES,ES,46937060,23009259,23927801,93.100,1418587740000,505935
1,Ivory Coast,CI,CI,26378275,13300380,13077895,82.951,58792205642,322460
2,Cameroon,CM,CM,26545864,13277075,13268789,56.157,38760467033,475440
3,Cyprus,CY,CY,875899,427831,448068,94.400,24942615800,9250
4,Djibouti,DJ,DJ,988002,518993,469009,42.623,3318716359,23200
...,...,...,...,...,...,...,...,...,...
197,Namibia,NaN,NaN,2540916,1231683,1309233,3.086,12366527719,824290
198,Papua New Guinea,PG,PG,8947027,4568072,4378955,19.757,24969611434,462840
199,Russia,RU,RU,145934460,67640299,78294161,8.911,1699876578871,17098250
200,Tanzania,TZ,TZ,59734213,29851108,29883105,67.435,63177068174,947300
201,Yemen,YE,YE,29825968,15024985,14800983,56.492,27591261663,527970

In [3]:
# 4.2 statyski zachorowań dla całego świata

q1 = ("""
select location_key,
    date,
    new_confirmed, 
    new_deceased,
    new_recovered,
    new_intensive_care_patients
from `bigquery-public-data.covid19_open_data.covid19_open_data`
TABLESAMPLE SYSTEM(7 percent)
where aggregation_level=0 
""")
query_job = client.query(q1)
query_result = query_job.result()
df42 = query_result.to_dataframe()
df42.drop_duplicates()
#out = df[['new_confirmed', "new_deceased", "new_recovered", "new_intensive_care_patients" ]].sum()
#ut.to_csv("4.2.csv")
df42

#df42 = pd.read_csv("../zad1/4.2.csv")
#df42.rename_axis('index1').reset_index()

,location_key,date,new_confirmed,new_deceased,new_recovered,new_intensive_care_patients
0,AR,2021-10-12,1163,15,<NA>,44
1,AR,2021-06-25,23741,438,<NA>,174
2,AR,2020-11-12,10871,239,<NA>,148
3,AR,2022-03-30,1378,10,<NA>,17
4,AR,2020-04-16,108,8,<NA>,100
...,...,...,...,...,...,...
14606,ZW,2020-10-12,15,0,<NA>,<NA>
14607,ZW,2021-09-09,107,11,<NA>,<NA>
14608,ZW,2022-09-12,51,0,<NA>,<NA>
14609,ZW,2022-07-26,21,2,<NA>,<NA>
14610,ZW,2021-09-12,130,5,<NA>,<NA>

In [4]:
df43 = pd.read_csv("../zad1/4.3.csv")
df43

,location_key,date,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9
0,AR,2021-05-26,617,1,1,1,15,48,124,140,148,104,35,41437,832,2797,7846,9616,8792,6188,3063,1473,627,199
1,AR,2021-01-04,157,0,0,3,2,4,19,23,52,34,20,13953,236,692,3052,3191,2554,1978,1177,694,303,74
2,AR,2020-08-12,217,0,0,1,4,7,25,38,39,69,34,7691,178,318,1319,1887,1685,1132,642,308,159,61
3,AR,2020-05-29,24,0,0,1,1,0,3,3,7,7,2,847,57,79,159,194,109,101,51,32,31,34
4,AR,2021-01-28,168,0,0,2,1,3,14,33,59,38,18,9265,160,680,2274,1970,1638,1130,793,414,160,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23339,US,2020-05-13,1384,0,0,0,0,0,0,0,0,0,0,16219,682,1622,5238,5433,4889,4647,3109,1857,0,0
23340,US,2021-02-11,3162,0,0,0,0,0,0,0,0,0,0,94695,5157,10871,16154,15225,13640,13818,10436,5894,0,0
23341,US,2022-04-20,538,0,0,0,0,0,0,0,0,0,0,57626,4761,5834,10293,10062,8188,8164,6485,4024,0,0
23342,US,2020-07-29,1164,0,0,0,0,0,0,0,0,0,0,64548,1539,3662,7412,6251,5561,5285,3562,2062,0,0
23343,US,2021-05-07,787,0,0,0,0,0,0,0,0,0,0,43909,4634,9648,10750,9386,7871,7117,4560,2050,0,0

In [5]:
df44 = pd.read_csv("../zad1/4.4.csv")
df44

,location_key,date,cumulative_persons_vaccinated,cumulative_persons_fully_vaccinated,cumulative_persons_fully_vaccinated_pfizer,cumulative_vaccine_doses_administered_pfizer,cumulative_persons_fully_vaccinated_moderna,cumulative_vaccine_doses_administered_moderna,cumulative_persons_fully_vaccinated_janssen,cumulative_vaccine_doses_administered_janssen
0,AD,2022-03-21,0,0,0,0,0,0,0,0
1,AD,2021-11-05,0,0,0,0,0,0,0,0
2,AD,2020-04-05,0,0,0,0,0,0,0,0
3,AD,2022-07-28,0,0,0,0,0,0,0,0
4,AD,2022-04-20,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
46606,ZW,2020-09-25,0,0,0,0,0,0,0,0
46607,ZW,2021-06-22,706156,440200,0,0,0,0,0,0
46608,ZW,2020-06-30,0,0,0,0,0,0,0,0
46609,ZW,2021-12-30,0,0,0,0,0,0,0,0
46610,ZW,2021-05-05,461021,115190,0,0,0,0,0,0

In [6]:
df451 = pd.read_csv("../zad1/4.5.1.csv")

df451 = df451.drop(columns=["date"]).groupby(by="location_key").max()
df451

,cumulative_confirmed,cumulative_persons_fully_vaccinated,population,hdi
location_key,,,,
AE,740057,8683700,9890400,0.863
AL,219694,1060267,2862427,0.764
AO,98698,5448403,32866267,0.581
AR,9560307,37711638,44938712,0.825
AT,648692,4179507,8858775,0.908
AU,9281667,21719304,25499881,0.939
AZ,803645,4859079,10139175,0.751
BB,87584,153809,287371,0.800
BD,2011732,121152135,164689383,0.632
BE,4440930,8726560,11455519,0.931
BG,1192284,2063505,7000039,0.782
BH,670854,1225182,1701583,0.824
BN,11542,238491,437483,0.853
BO,913362,5991140,11673029,0.693
BR,30803995,160065355,212559409,0.754
BS,29908,150372,393248,0.807
CA,4109872,31520826,37742157,0.926
CF,14351,897945,4829764,0.367
CH,3910255,5964022,8544527,0.930
CL,4137152,17605659,17574003,0.832
CM,81467,29813,26545864,0.556
CN,1043544,1249413000,1439323774,0.752
CO,5109329,27077680,50882884,0.747
CU,1108621,9979799,11326616,0.769
CV,34112,25824,555988,0.654
CW,44545,99577,164100,0.890
CY,133274,583001,875899,0.850
CZ,2287189,6059865,10649800,0.888
DE,32118297,63433125,83019213,0.942
DJ,15690,161003,988002,0.476
DK,3240454,4780721,5806081,0.929
DM,4020,21797,71991,0.715
DO,641677,6039020,10847904,0.736
EC,859890,13719727,17643060,0.746
EE,538961,836867,1324820,0.892
EG,514659,38603443,102334403,0.696
ES,4966516,36259105,46937060,0.876
FI,600718,4211395,5517919,0.883
FJ,64081,624416,896444,0.741
FR,3558022,53449541,67012883,0.901
HK,12985,4706562,7496988,0.933
IN,33953475,260058462,1380004385,0.640
MY,2268499,21181502,32655400,0.802
NZ,20866,3944401,4822233,0.917
PE,3127016,23297462,29381884,0.750
PH,927904,162065,100979303,0.699
RO,2912266,8114350,19414458,0.811
TH,795951,4692030,69799978,0.755
TW,268207,18699646,23816775,0.911
US,39998594,178328389,331002647,0.920

In [7]:
df452 = pd.read_csv("../zad1/4.5.2.csv")
df452

,date,location_key,new_confirmed,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
0,2021-04-07,AR,26227,-31,7,-45,-21,-4,4
1,2021-11-11,AR,1459,2,29,-17,10,33,-1
2,2020-11-26,AR,8162,-44,-14,-61,-38,-14,11
3,2020-08-09,AR,4579,-65,-28,-78,-59,-19,17
4,2021-08-01,AR,5296,-22,7,-26,-12,-3,7
...,...,...,...,...,...,...,...,...,...
6925,2020-03-30,ZW,1,-75,-68,-51,-80,-72,46
6926,2022-01-03,ZW,1591,50,69,62,61,13,0
6927,2020-07-21,ZW,214,-11,-4,-3,-30,-14,23
6928,2021-03-12,ZW,48,6,32,6,11,-4,5
6929,2021-12-24,ZW,1010,73,120,72,86,-16,-2

In [8]:
df453 = pd.read_csv("../zad1/4.5.3.csv")
df453

,date,location_key,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever
0,2021-08-29,NZ,23139,56,0,9.53,4.97
1,2020-11-24,NZ,3561,3,0,9.52,5.73
2,2020-08-28,NZ,10178,18,0,6.11,4.66
3,2022-02-26,NZ,31015,9592,0,9.52,10.35
4,2020-09-08,NZ,8016,6,0,7.46,4.96
...,...,...,...,...,...,...,...
370,2021-12-06,US,1948476,181161,1238,6.73,4.05
371,2021-02-13,US,666277,80459,2003,3.41,3.19
372,2021-10-07,US,1793128,111170,1730,5.61,3.81
373,2021-11-03,US,1762772,77953,1438,6.36,3.98
374,2021-01-26,US,2078955,142947,3475,3.90,3.78

## Łączenie

In [57]:
# laczenie dat wyszukiwań
df = pd.merge(df41, df453, how="right", on="location_key")
df

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever
0,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2021-08-29,23139,56,0,9.53,4.97
1,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-11-24,3561,3,0,9.52,5.73
2,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-08-28,10178,18,0,6.11,4.66
3,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2022-02-26,31015,9592,0,9.52,10.35
4,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-09-08,8016,6,0,7.46,4.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-12-06,1948476,181161,1238,6.73,4.05
371,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-02-13,666277,80459,2003,3.41,3.19
372,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-10-07,1793128,111170,1730,5.61,3.81
373,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-11-03,1762772,77953,1438,6.36,3.98
374,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-01-26,2078955,142947,3475,3.90,3.78

In [58]:
# laczenie df452 - mobility
df2 = pd.merge(df, df452, how="left", on=["location_key", "date", "new_confirmed"], indicator=True)
df2
# tutaj powstaje problem

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,_merge
0,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2021-08-29,23139,56,0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-11-24,3561,3,0,9.52,5.73,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-08-28,10178,18,0,6.11,4.66,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2022-02-26,31015,9592,0,9.52,10.35,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-09-08,8016,6,0,7.46,4.96,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-12-06,1948476,181161,1238,6.73,4.05,NaN,NaN,NaN,NaN,NaN,NaN,left_only
371,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-02-13,666277,80459,2003,3.41,3.19,NaN,NaN,NaN,NaN,NaN,NaN,left_only
372,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-10-07,1793128,111170,1730,5.61,3.81,NaN,NaN,NaN,NaN,NaN,NaN,left_only
373,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-11-03,1762772,77953,1438,6.36,3.98,NaN,NaN,NaN,NaN,NaN,NaN,left_only
374,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-01-26,2078955,142947,3475,3.90,3.78,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [82]:
df3 = pd.merge(df2, df451, how="left", on=["location_key", "population"])
df3

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,_merge,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi
0,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2021-08-29,23139,56,0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917
1,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-11-24,3561,3,0,9.52,5.73,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917
2,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-08-28,10178,18,0,6.11,4.66,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917
3,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2022-02-26,31015,9592,0,9.52,10.35,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917
4,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-09-08,8016,6,0,7.46,4.96,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-12-06,1948476,181161,1238,6.73,4.05,NaN,NaN,NaN,NaN,NaN,NaN,left_only,39998594.0,178328389.0,0.920
371,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-02-13,666277,80459,2003,3.41,3.19,NaN,NaN,NaN,NaN,NaN,NaN,left_only,39998594.0,178328389.0,0.920
372,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-10-07,1793128,111170,1730,5.61,3.81,NaN,NaN,NaN,NaN,NaN,NaN,left_only,39998594.0,178328389.0,0.920
373,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-11-03,1762772,77953,1438,6.36,3.98,NaN,NaN,NaN,NaN,NaN,NaN,left_only,39998594.0,178328389.0,0.920
374,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2021-01-26,2078955,142947,3475,3.90,3.78,NaN,NaN,NaN,NaN,NaN,NaN,left_only,39998594.0,178328389.0,0.920

In [117]:
df4 = pd.merge(df3, df44, how='outer', on=['location_key', 'date', 'cumulative_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated'])

df4 = df4.set_index(['location_key'])
tt = df41
tt = tt.set_index('location_key')
tt.sort_values(by='location_key')
df4.update(tt)
df4

,country_name,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,_merge,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate
location_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2021-08-29,23139.0,56.0,0.0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2020-11-24,3561.0,3.0,0.0,9.52,5.73,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2020-08-28,10178.0,18.0,0.0,6.11,4.66,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2022-02-26,31015.0,9592.0,0.0,9.52,10.35,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2020-09-08,8016.0,6.0,0.0,7.46,4.96,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TR,Turkey,TR,82003882.0,41139980.0,40863902.0,106.200,7.544117e+11,785350.0,2022-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52912588.0,NaN,3069.0,5185.0,119.237,62.330
UG,Uganda,UG,45741000.0,22546589.0,23194411.0,228.922,3.438723e+10,241550.0,2021-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,242310.0,NaN,364460.0,238181.0,302.371,233.267
UY,Uruguay,UY,3473727.0,1678336.0,1795391.0,19.848,5.604591e+10,176220.0,2021-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2640273.0,NaN,832.0,1399.0,139.322,76.015
UY,Uruguay,UY,3473727.0,1678336.0,1795391.0,19.848,5.604591e+10,176220.0,2021-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2115253.0,NaN,12364.0,11491.0,139.322,76.015
ZW,Zimbabwe,ZW,14862927.0,7092010.0,7770917.0,38.420,2.144076e+10,390760.0,2022-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4682269.0,NaN,1381.0,1683.0,373.207,337.702

In [151]:
#df43 = df43.set_index('location_key')

df5 = pd.merge(df4, df43, on=['location_key', 'date', 'new_deceased', 'new_confirmed'], how='left')
df5

,country_name,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,_merge,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9
location_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2021-08-29,23139.0,56.0,0.0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2020-11-24,3561.0,3.0,0.0,9.52,5.73,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2020-08-28,10178.0,18.0,0.0,6.11,4.66,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2022-02-26,31015.0,9592.0,0.0,9.52,10.35,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2020-09-08,8016.0,6.0,0.0,7.46,4.96,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TR,Turkey,TR,82003882.0,41139980.0,40863902.0,106.200,7.544117e+11,785350.0,2022-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52912588.0,NaN,3069.0,5185.0,119.237,62.330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UG,Uganda,UG,45741000.0,22546589.0,23194411.0,228.922,3.438723e+10,241550.0,2021-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,242310.0,NaN,364460.0,238181.0,302.371,233.267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UY,Uruguay,UY,3473727.0,1678336.0,1795391.0,19.848,5.604591e+10,176220.0,2021-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2640273.0,NaN,832.0,1399.0,139.322,76.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UY,Uruguay,UY,3473727.0,1678336.0,1795391.0,19.848,5.604591e+10,176220.0,2021-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2115253.0,NaN,12364.0,11491.0,139.322,76.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZW,Zimbabwe,ZW,14862927.0,7092010.0,7770917.0,38.420,2.144076e+10,390760.0,2022-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4682269.0,NaN,1381.0,1683.0,373.207,337.702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
pd.merge(df5, df42, on=['location_key'], how='left').drop_duplicates()

,location_key,country_name,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date_x,new_tested,new_confirmed_x,new_deceased_x,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,_merge,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9,date_y,new_confirmed_y,new_deceased_y,new_recovered,new_intensive_care_patients
0,NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2021-08-29,23139.0,56.0,0.0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-25,0,0,<NA>,<NA>
1,NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2021-08-29,23139.0,56.0,0.0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-29,2560,11,<NA>,<NA>
2,NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2021-08-29,23139.0,56.0,0.0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09,0,0,<NA>,<NA>
3,NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2021-08-29,23139.0,56.0,0.0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-12,1,0,<NA>,<NA>
4,NZ,New Zealand,NZ,4822233.0,2370163.0,2452070.0,18.314,2.069288e+11,267710.0,2021-08-29,23139.0,56.0,0.0,9.53,4.97,NaN,NaN,NaN,NaN,NaN,NaN,left_only,20866.0,3944401.0,0.917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-24,15900,9,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2643932,ZW,Zimbabwe,ZW,14862927.0,7092010.0,7770917.0,38.420,2.144076e+10,390760.0,2022-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4682269.0,NaN,1381.0,1683.0,373.207,337.702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-30,23,1,<NA>,<NA>
2643933,ZW,Zimbabwe,ZW,14862927.0,7092010.0,7770917.0,38.420,2.144076e+10,390760.0,2022-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4682269.0,NaN,1381.0,1683.0,373.207,337.702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-06,9,0,<NA>,<NA>
2643934,ZW,Zimbabwe,ZW,14862927.0,7092010.0,7770917.0,38.420,2.144076e+10,390760.0,2022-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4682269.0,NaN,1381.0,1683.0,373.207,337.702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-11,57,0,<NA>,<NA>
2643935,ZW,Zimbabwe,ZW,14862927.0,7092010.0,7770917.0,38.420,2.144076e+10,390760.0,2022-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4682269.0,NaN,1381.0,1683.0,373.207,337.702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-14,5,0,<NA>,<NA>
2643936,ZW,Zimbabwe,ZW,14862927.0,7092010.0,7770917.0,38.420,2.144076e+10,390760.0,2022-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4682269.0,NaN,1381.0,1683.0,373.207,337.702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09,11,0,<NA>,<NA>

# ćwiczenie 2

In [3]:
gdp = pd.read_csv('gdp.csv')
gdp

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [4]:
wc = pd.read_csv('world_countries.csv')
wc

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20